
@{
    ViewBag.Title = "Index";
}


<div style="font-style: italic; font-size: 30px; font-weight:bold">@Html.ActionLink("Add Client", "Create", "Clients") <br> <br> </div>
<div style="font-style: italic; font-size: 30px; font-weight:bold">@Html.ActionLink("Search Client", "Search", "Clients") </div>

